@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
$calories: #91c7b1;
$protein: #b33951;
$fat: #e3d081;
$carb: hsla(212, 68%, 40%, 0.58);

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.calories {
  color: $calories;
}

.protein {
  color: $protein;
}

.fat {
  color: $fat;
}

.carb {
  color: $carb;
}

html {
  @include full-height;
}

.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: #eceff1;
  font-family: 'PT Sans', 'Roboto', 'sans-serif';
}

.Log {
  .log-top {
    display: flex;
    justify-content: space-around;

    .log-cal {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        font-size: 1.7em;
        padding: 0;
        margin: 0;
      }
    }
  }

  .pie-info {
    display: flex;
    justify-content: space-around;
  }

  .log-macro-donut {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;

    .donut-label {
      text-align: center;
      margin-top: 7px;
    }
  }

  .log-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      padding: 25px;
    }
  }
}

.Recipes {
  .RecipeCardList {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .recipe-card {
      max-width: 47%;
      padding-top: 10px;

      .card-text .card-nutrition {
        display: flex;
        flex-direction: column;

        .card-nutrition-details {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.Profile {
  .profile-top {
    display: flex;
    justify-content: space-between;

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .height {
        width: 100%;
        padding-top: 12px;
        text-align: center;
      }
    }

    .profile-top-dailies {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .profile-goals {
    .profile-goals-list {
      display: flex;
      justify-content: space-around;

      .paper-goals {
        height: 150px;
        width: 120px;

        .DailyNutrients {
          display: none;
        }

        &:hover {
          width: 300px;
        }
      }

      .selected {
        font-size: 1.38em;

        &:hover {
          .DailyNutrients {
            display: inline;
          }
        }
      }
    }
  }
}

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 2;

  .modal-window {
    width: 400px;
    background-color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px #333;

    .modal-window-top {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .grid-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 400px;
      width: 400px;
      overflow-y: auto;
    }

    .filters {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .add-custom {
    width: 100%;
    text-align: right;
  }

  .AddFood {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 2;

    .add-window {
      width: 400px;
      background-color: white;
    }
  }
}

.Splash .splash-container {
  .logo {
    border-radius: 15px;

    img {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-delay: 100ms;
      animation-fill-mode: forwards;
    }

    div {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }

  .splash-button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 133px;

    .splash-button {
      margin: 10px;

      div {
        height: 100%;

        &:hover {
          background-color: orange;
        }
      }
    }
  }
}

.Footer {
  width: 100%;
  margin-top: 20px;
  text-align: right;
  bottom: 0;
  font-size: 0.7em;
  position: fixed;

  img {
    width: 100px;
  }
}

.DailyNutrients {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  width: 90%;

  .daily {
    display: flex;
    justify-content: space-between;
  }
}

.Error {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.giphy.com/lwvXFbXQf2fFS.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.FoodNutrients {
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nutrient {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
}
