@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;
$calories: hsl(118, 24%, 45%);
$protein: hsl(280, 28%, 52%);
$fat: hsl(37, 100%, 85%);
$carb: hsl(359, 64%, 45%);

.calories {
  color: $calories;
}

.protein {
  color: $protein;
}

.fat {
  color: $fat;
}

.carb {
  color: $carb;
}

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.Log {
  .log-cal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      padding: 20px;
      font-size: 1.7em;
    }
  }

  .log-macro-donut {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
  }

  .Breakfast,
  .Lunch,
  .Dinner {
    display: flex;
    justify-content: space-between;
  }

  .add-food-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      padding: 25px;
    }
  }
}

.Recipes {
  .recipe-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .recipe-card {
      max-width: 47%;
      padding-top: 10px;
    }
  }
}

.Profile {
  .profile-top {
    display: flex;
    justify-content: space-between;

    .DailyNutrients {
      margin-right: 100px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .profile-top-dailies {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .profile-radio-title {
    font-size: 1.2em;
    text-decoration: underline;
  }

  .profile-radio-list {
    padding-top: 20px;
  }

  .profile-goals {
    .profile-goals-list {
      display: flex;
      justify-content: space-around;

      .paper-goals {
        height: 150px;
        width: 120px;

        .DailyNutrients {
          display: none;
        }

        &:hover {
          width: 300px;

          .DailyNutrients {
            display: inline;
          }
        }
      }
    }
  }
}

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 2;

  .modal-window {
    width: 400px;
    background-color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 20px #333;

    .modal-window-top {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
