@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}


.log-cal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    padding: 20px;
    font-size: 1.7em;
  }
}

.log-macro-donut {
  display: flex;
  justify-content: space-around;
}
